<h1>Hello New User</h1>
<% if @user.errors %>
    <%= @user.errors.full_messages %>
<% end %>
<form action="create" method="POST">
  <label for="username">Username:</label>
  <input id="username" name="user[username]">
  <label for="password">Password:</label>
  <input id="password" name="user[password]">
  <label for="email">Email:</label>
  <input id="email" name="user[email]">
  <input type="submit" value="Submit">
</form>
